<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>

<% end %>


<script>
 window.logoImage = "<%= asset_path('logoImage.jpg')%>"
</script>
<script>
 window.bigImage = "<%= asset_path('bigImage.png')%>"
</script>
<script>
 window.slack_profile_pic = "<%= asset_path('slack_default_profile_pic.png')%>"
</script>


<main id="root"></main>
