/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body {
   height: 100%;
 }


 .header-class{
   display: flex;
   justify-content: flex-end;
   align-items: baseline;
   justify-content: space-between;
   margin-right: 54px;
   margin-left: 54px;
 }

body{
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: #f5f5f5;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
#get-started{
  height: 42px;
  background-color: #3f46ad;
  color: #fff;
  padding-left: 0.6rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: .875rem;
  font-family: sans-serif;
  margin-left: 34px;
  padding-top: 0.7rem;
  padding-bottom: 1.7rem;
  padding-right: .6rem;
  width: 8rem;
}

#get-started:hover{
  background-color:#1c299d;
}

.sign-in-get-started-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}


#sign-in-text{
  width: 8rem;
  color: #6d6f7b;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  font-family: sans-serif;

}
#sign-in-text:hover{
  color: #3f46ad;
}
#sign-in-homepage-div{
  width: 4rem;
}

.sign-in-or-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    padding: 2rem 2rem 1rem;
    width: 50%;
    text-align: center;
    margin-top: 48px;
    list-style: none;

}

.errors{
  text-align: left;
  border: 1px solid #e8e8e8;
  border-left-color: #d72b3f;
  /* padding: .75rem 1rem .75rem 3rem; */
  background: #fff;
  color: #2c2d30;
  border-left-width: 5px;
  /* margin: 0 auto 1rem; */
  border-radius: .25rem;
  font-size: 16px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  padding: 8px;
  margin-bottom: 6px;
  font-weight: 700;
}
.errors{
  list-style: none;
}


.inputs-on-signup{
  display: flex;
  flex-direction: column;
  align-items: left;
}
.inputs-on-signup input{
  width: 110%;
}

.main-page{
  display: flex;
  justify-content: center;
}


#positioning-div{
  display: flex;
  justify-content: center;
}

#signup-instead, #signin-instead{
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 400;
}
#signup-instead a, #signin-instead a{
  color: #0576b9;
  font-size: 16px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
}
#signup-instead a:hover,#signin-instead a:hover{
  color: #0576b9;
  text-decoration: underline;
}

#signin-instead{
  margin-top: 8%;
  margin-bottom: 40px;
  font-weight: 400;
  align-self: center;
}

.middle-of-header{
  color: #6d6f7b;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
}
.middle-of-header span:hover{
  font-weight: 700;
  color: black;
}

.middle-of-header span{
  padding-right: 25px;
}
.login-signup, .header-class{
  display: flex;
  flex-direction: row;
}

#title-and-logo{
  display: flex;
  align-items: baseline;
}

.homepage-main-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#home-right-half{
  max-width: 50%;
  padding-top: 9%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


#big-image{
  height: auto;
  width: auto;
  max-width: 74%;
  padding-top: 23%;
  padding-left: 5%;
  max-height: 100%;
}
#logo-image{
  height: auto;
  width: auto;
  max-width: 6%;
  max-height: 7%;
  align-self: flex-end;

}

#WWH{
  text-align: left;
  font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
  font-weight: 900;
  line-height: .8;
  letter-spacing: normal;
  font-size: 4.8rem;
  margin-bottom: 1rem;
  padding-right: 13%;
}

#Description-paragraph{
  color: #5b5e6d;
  font-size: 1.3rem;
  font-family: Slack-Averta,appleLogo,sans-serif;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: normal;

}
