
  .main-page-outermost-div{
    display: flex;
    flex-direction: row;
    background-color: white;
  }


  .top{

    height: 60px;
    min-height: 60px;
    background-color: white;
  }
  .bottom{
    height: 87vh;
  }

  .main-left{
    height: 100%;
    width: 221px;
    height: 100vh;
    background-color: #4D394B;
    min-width: 184px;
    overflow-y: auto;
  }
  /*Down to 614px Wide  */
  .main-right{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* width: 83vw; */
    background-color: white;
  }

#top-left{
  background-color: #4D394B;
}

#channel-section{

  padding-top: 30px;
}
#direct-message-section{
  padding-top: 30px;
  max-height: 27%;
  padding-left: 20px;
  color: #cac4c9;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
}


#right-bottom{
  display: flex;
  flex-direction: column;

}

#chat-div{
  display: flex;
  align-items: center;
  border: 3px solid #717274;
  border-radius: .3rem;
  min-height: 46px;
  height: 40px;
  margin-top: 0vh;
  margin-left: 1.5vw;
  width: 74vw;
}


#chat-input{
  outline: none;
  min-height: 44px;
  height: 40px;
  font-size: 16px;
  width: 66vw;


}


input{
  border: none;
}

#top-right{
  border: 1px solid rgba(145,145,147,.4);
  color: #2c2d30;
  width: calc(100vw - 221px);
  min-width: 1000px;

}

#plus-sign{
  padding: 13px;
  font-size: 20px;
  background-color: white;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  color: #878789;
  cursor: pointer;
}
#plus-sign:hover{
  background: #56b68b;
  color: white;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  border: 2px solid #018650;
  border-right: 0px;
  margin-left: -2px;
}

.dms-list-div{
  padding-bottom: 30px;
}

.chat-sub{
  font-size: 20px;
  background-color: white;
  color: #878789;
  padding-left: 1vw;
}

.chat-sub span{
  cursor: pointer;
}
