.selected-channels{
  height: 20px;
  background-color: #4c9689;
  padding-top: 6px;
  color: white;
  padding-bottom: 1px;
  font-size: 16px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  padding-left: 20px;
}

.non-selected-channels{
  height: 23px;
  padding-top: 5px;
  color: #cac4c9;
  padding-bottom: 2px;
  font-size: 16px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  padding-left: 20px;
}

.hash{
  color: #9d919b;
}

.selected-hash{
  color: #97c2ba;
}

#channels-title{
padding-left: 20px;
color: #cac4c9;
font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
}
#channels-title:hover{
  color: white;
}

#channels-title-div{
  padding-bottom: 4px;
  padding-top: 4px;
}



.non-selected-channels:hover{
  background-color: #3e313c;
}

#top-left{
  display: flex;
flex-direction: column;
padding-left: 10px;
padding-top: 10px;
box-sizing: border-box;
}

#top-left:hover{
  background-color: #3e313c;
}

.top-left-top-row{
  display: flex;
  flex-grow: row;
}
.messages-page-slack-logo{
  font-family: sans-serif;
  color: white;
  font-size: 1.5rem;
  letter-spacing: -1px;
  margin: 0;
  font-weight: 700;
  padding-right: 44%;
  padding-left: 12px;
  padding-top: 7px;
}
.notification-icon{
  padding-top: 7%;
}

.notification-icon span{
  font-size: 20px;
}
.message-page-top-left-username{
    font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
    margin-top: -2px;
    color: #ab9ba9;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 2.2vw;
}

#top-right{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left-side-top-left{
  display: flex;
  flex-direction: column;
  max-width: 75vw;
}
#left-side-top-middle{
  min-width: 0vw;
}
#left-side-top-right{
  max-width: 25vw;
  min-width:25vw;
}

#search-bar-in-header{
  display: flex;
  align-items: center;
  height: 34px;
  border-radius: .35rem;
  border: 1px solid #919193;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  line-height: 1rem;
  font-size: 14px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 5px;
  width: 18vw;
}

.top-row-left-side-top-left{
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  color: #2c2d30;
  font-size: 19px;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 15px;
}

.Welcome-To-Slack{

  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  color: #2c2d30;
  font-size: 19px;
  font-weight: 700;
  padding-top: 30px;
  padding-left: 3px;
}
#join-a-channel{
  background-color: #008a56;
  color: white;
  border-radius: 9px;
  font-weight: 700;
  height: 50px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

#join-a-channel:hover{
  cursor:pointer;
}

.invisible-logout-drop-down{
  display: none;
}

.visible-logout-drop-down{
  width: 164px;
  padding-top: 30px;
  background-color: white;
  position: fixed;
  margin: 0;
  margin-top: 54px;
  margin-left: -7px;
  padding-top: 16px;
  height: 23px;
  border: 1px solid #cac4c9;
  padding-right: -20px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  color: #3e313c;
  padding-left: 15px;
  padding-bottom: 5px;
  font-weight: 700;
  border-radius: 5px;
}

.new-user-join-channel-button{
  padding-top: 300px;
  padding-left: 32vw;
}

#bottom-row-left-side-top-left{}

.top-row-left-side-top-left{
  padding-top: 16px;
  font-size: 20px;
  padding-left: 17px;
  padding-bottom: 10px;
  letter-spacing: -1px;
  word-spacing: 1px;

}
.bottom-row-left-side-top-left{
  align-self: center;
  padding-left: 25px;
  color: #a3a4a5;
  font-size: 12px;
  font-weight: 700;
}

.hidden-users-dropdown{
  display: none;
}

.visible-users-dropdown{
  position: fixed;
  background-color: white;
  overflow-y: scroll;
  width: 375px;
  height: 180px;
  font-size: 22px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  color: #333437;
  border: 1px solid lavender;
  margin-top: 10px;
  border-radius: 5px;
}

.dropdown-users-list-item{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lavender;
}

.dropdown-users-list-item li{
  padding-top: 2%;
  padding-left: 5%;
}

.invisible-url-bar{
  display: none;
}
.visible-url-bar{
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  position: absolute;
  border: 1px solid lavender;
  width: 700px;
  height: 100px;
  top: 75vh;
  left: 15vw;
  border-radius: 7px;
  font-size: 14px;
  color: #333437;
  background-color: #f9f9f9;
}

.visible-url-bar input{
  width: 90%;
  outline: none;
  min-height: 44px;
  height: 40px;
  font-size: 16px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  padding-left: 18px;
  background-color: #f9f9f9;
}
.visible-url-bar span{
  font-size: 19px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  color: #333437;
  display: inline-block;
  padding-top: 18px;
  padding-left: 18px;
  font-style: italic;
}

.visible-url-bar form{
  display: flex;
  flex-direction: row;
}

.visible-url-bar button{
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  background-color: #e8e8e8;
  color: #5b5c5e;
  padding: 4px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1.5rem;
  font-weight: 700;
  border: none;
  height: 48px;
  margin-right: 7px;
  width: 80px;
}

.visible-url-bar button:hover{
  background-color: #999999;
}

.hide-red-dot{
  display: none;
}
.hide-microphone{
  display: none;
}
