
.Received-Message-Box{

  display: flex;
  flex-direction: row;
  min-height: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.Received-Message-Box-left{
  box-sizing: border-box;
  width: 50px;
}

.Received-Message-Box-right{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.Received-Message-Box-right-top{

  display: flex;
  flex-direction: row;
  height: 18px;
  align-items: baseline;
}

.Recieved-Message-Box-right-top-name{

  color: #2c2d30;
  font-weight: 900;
  font-size: 15px;
  line-height: 1;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  word-break: break-word;
  padding-right: 10px;
}

.Recieved-Message-Box-right-top-time{

  font-size: 12px;
  color: #717274;
  line-height: 1;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;

}

.Received-Message-Box-right-bottom{

  padding-top: 6px;
  text-align: left;
  line-height: 1.46668;
  margin: 8px 0 -4px;
  color: #2c2d30;
  word-break: break-word;
  width: 100%;
  font-size: 15px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  max-width: 60vw;


}

#message-history{
  height: 80vh;
  overflow-y: scroll;
}
