

.hidden-modal{
  display: none;
}

.visible-modal{
  display: flex;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: white;
  width: 100%;
  height: 100vh;
}

.outermost-channels-modal-div{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.channels-modal-close-X{
  color: #77787a;
  font-size: 2rem;
  padding-top: 15vh;
  padding-left: 65vw;
}

.channels-modal-list-of-channels{

}

.channels-modal-list-of-channels ul{
  padding: 5px;
  padding-top: 75px;
  background: white;
  width: 385px;
  height: 30vh;
  overflow-y: scroll;
}

.header-modal-list-of-channels span{
  color: #2c2d30;
  font-size: 34px;
  line-height: 41px;
  font-weight: 900;
  letter-spacing: -1px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
}

.channels-modal-list-of-channels ul li{
  height: 41px;
  text-decoration: none;
  color: #3e313c;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  border-top: 1px solid #e8e8e8;
  padding-top: 30px;
}

#new-channel-title-input{
  width: 30vw;
  font-size: 1.25rem;
  line-height: normal;
  padding: .75rem;
  border: 1px solid #919193;
  border-radius: .25rem;
  margin-top: 30px;
}


.hidden-dm-modal{
  display: none;
}

.visible-dm-modal{
  display: flex;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: white;
  width: 100%;
  height: 100vh;
}

.selected-users-input{
  list-style: none;
  display: inline;
  padding: 6px;
  background-color: #2d9ee0;
  color: white;
  font-weight: 700;
  border-radius: .2rem;

}

.hidden-recent-search-modal{
  display: none;
}

.visible-recent-search-modal{
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 238px;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #757575;

}

.visible-recent-search-modal input{
  width: 80vw;
  display: flex;
  align-items: center;
  height: 34px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  line-height: 1rem;
  font-size: 16px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 5px;
  overflow: hidden;
  border-bottom: 1px solid #757575;


}
.visible-recent-search-modal input:focus{
  outline: none;

}

.visible-recent-search-modal button{
  border: none;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  color: #717274;
  font-size: 16px;
  padding: 0 16px;
  outline: none;

}
.visible-recent-search-modal button:first-of-type{
  border-right: 1px #717274;

}
@media only screen and (max-width: 1185px) {
  #recentSearchModal-searchBar input {
    width: 40vw;
  }
}
@media only screen and (max-width: 400px) {
  #recentSearchModal-searchBar input {
    width: 100px;
  }
}

#recentSearchModal-searchBar{
  display: flex;
}

#last-five-searches{
  width: 80vw;
  height: 15vw;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;

}

#last-five-searches p{
  font-size: 14px;
  color: #757575;
  margin-bottom: 20px;
  margin-top: 35px;
}

.recent-Search-Query{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  list-style: none;
  font-size: 16px;

}

.recent-Search-Query:hover{
  background-color: #2d9ee0;
  color: white;

}

#recentSearchModal-searchBar-input{
  width: 75%;
}
#recentSearchModal-searchBar-buttons{
  margin-left: 10%;
  margin-top: 10px;
}

#recentSearchModal-searchBar-buttons:first-child{
  border-right: 1px solid grey;
}

.hidden-search-results-modal{
  display: none;
}

.visible-search-results-modal{
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #f9f9f9;
  width: 82vw;
  height: 95%;
  font-size: 34px;
  margin-left: 3vw;
  border-radius: 10px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  margin-top: 10px;
  border: 1px solid #e8e8e8;

}

#search-results-modal-search-results-search-bar{
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  padding-top: 18px;
}

#search-results-modal-search-results-search-bar input{
  font-size: 18px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
  padding-left: 25px;
  color: #333437;
  margin-bottom: 14px;
  width: 75vw;
}

#search-results-modal-search-results-search-bar input:focus{
  outline: none;
}

#search-results-modal-search-results-description{
  color: #2c2d30;
  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
}

#search-results-modal-search-results-search-bar span{
  font-size: 18px;
  display: block;
  padding-left: 35px;
  padding-top: 3px;
}


#search-results-modal-search-results-description p{
  font-size: 21px;
  font-weight: 700;
  font-family: inherit;
  border-bottom: 1px solid #e8e8e8;
  padding-left: 33px;
  color: #333437;
  padding-top: 16px;
  padding-bottom: 16px;
}

#search-results-modal-search-results-summary{
  color: #767779;
  padding-top: 16px;
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 30px;
}

.search-result-message-box{
  background-color: white;
  border-radius: 5px;
  width: 80vw;
  margin-bottom: 25px;
}

#search-results-modal-search-results-messages{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
}
